<template>
  <div class="album-list">
    <div class="search-box">
      <input type="text" placeholder="Search an album" @keyup="onSearchKeyUp" />
    </div>

    <ul>
      <AlbumListItem v-for="album of filteredAlbums" :album="album" :key="album.id" />
    </ul>
  </div>
</template>

<script>
import AlbumListItem from "../components/AlbumListItem";

// MOCK data
import { MOCK_ALBUMS } from "../mocks/albums.mock";

// Remember to talk about styles and scoping
export default {
  name: "AlbumList",
  components: {
    AlbumListItem,
  },
  computed: {
    filteredAlbums() {
      return this.albums.filter((album) => {
        return (
          album.title
            .toLowerCase()
            .includes(this.searchText.trim().toLowerCase()) ||
          album.artist
            .toLowerCase()
            .includes(this.searchText.trim().toLowerCase())
        );
      });
    },
  },
  created() {
    this.albums = MOCK_ALBUMS;
  },
  methods: {
    onSearchKeyUp(e) {
      this.searchText = e.target.value.trim();
    },
  },
  data() {
    return {
      searchText: "",
      albums: [],
    };
  },
};
</script>

<style scoped>
.search-box {
  display: block;
  width: 100%;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #efefef;
  padding: 1rem;
  background: white;
}
.search-box input {
  display: block;
  width: 100%;
  font-size: 1em;
  padding: 0.5rem;
}
</style>