<template>
  <div class="album-list-item">
      <div class="album-art">
          <img v-bind:src="album.albumArt" :alt="album.title" />
        </div>
        <div class="info">
          <h4 class="title">{{ album.title }}</h4>
          <p class="artist">{{ album.artist }}</p>
          <small>{{ album.releaseYear}}</small>
        </div>
  </div>
</template>

<script>
export default {
    name: 'AlbumListItem',
    props: {
        album: {
            type: Object,
            required: true
        }
    }
}
</script>

<style scoped>
.album-list-item {
    display: flex;
    border-bottom: 1px solid #efefef;
}
.album-art {
    width: 100px;
    margin-right: 1em;
}
.album-art img {
    display: block;
    max-width: 100%;
}
</style>