<template>
  <div id="app">
    <AlbumList />
  </div>
</template>

<script>
import AlbumList from './views/AlbumList';

export default {
  name: 'App',
  components: {
    AlbumList
  }
}
</script>

<style>
#app {
}
</style>
